/* 
    Document   : pdf
    Created on : 15/10/2013, 18:40:03
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

#logo
{
    border:     1px solid blue;
    width:      213px;
    height:     70px;
    background: url(imagens/ufu-logo.png) no-repeat;
}
 
#texto
{
    font-family: arial;
    font-weight: bold;
}