<div id="cabecalhoOuter">
    <div id="cabecalho" align="left">
        <div class="cabecalhoEsquerdo">
            <a href="http://www.ufu.br/" target="_blank"><img src="../resources/images/logo_ufu.png"></a>
        </div>
        <a href="vMain.php" class="linkCabecalho">
            <div class="cabecalhoMeio">
                <p>Sistema de emissão de MI</p>
                <p>Universidade Federal de Uberlândia</p>
            </div>
        </a>
<!--        <div class="cabecalhoDireito">
            <a href="cLogout.php"><img src="imagens/client-login.png"></a>
        </div>-->
    </div>
</div>